<div class="container chatbot">
  <div class="chatbot-title">
    <h1 class="chatbot-title-text">Web Summit Bot <span class="fst-italic">Oscar</span></h1>
    <div class="chatbot-title-emoji">🤖</div>
  </div>
  <div id="questions">
    <%= render @questions %>
  </div>

  <%= render "form", question: @question %>
</div>
