.chatbot-title {
  display: flex;
  align-items: center;
}

.chatbot-title-text {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background: linear-gradient(90deg,#cb1977,#008484);
  background-clip: text;
  color: transparent;
  animation: textGradient 8s linear infinite;
  background-size: 200% auto;
  text-shadow: 0 0 15px rgba(255,44,196,.5);
}

@keyframes textGradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

.chatbot-title-emoji {
  font-size: 2rem;
}
